* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  position: relative;
}

.black{
  background-color: rgb(230, 230, 230);
}

.white {
  background-color: rgb(32, 32, 32);
}

.selected {
  background-color: aqua;
}

.available {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: chartreuse;
}

.highlight {
  background-color: yellow;
}

.turn {
  margin-left: 23px;
  margin-bottom: 6px;
}

.lost {
  /* height: calc(50vh - 60px); */
  margin-left: 23px;
}

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  position: absolute;
  top: 2em;
  left: 2em;
}